
html{
    font-family: "Arial";
    font-size: 16px;
}
body{
        margin: 0;
        padding: 0;
    }

/* Maqueta HTML */

#contenedor{
    border: 2px solid rgba(149, 149, 149, 0.63);
    width:75%;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    }

    .header{
        text-align: center;
    }

    .contenido{
        background: #1ed63681;
        color: white;
        padding:15px;
    }
    .destacado{
        /* font-weight: bold; */
    }

    .pie{
        text-align: right;
        font-family:'Times New Roman', Times, serif;
        background-image: url("../img/banner1.jpg");
        height: 90px;
    }