html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body,h1{
    margin: 0;
}
*{
    box-sizing: border-box;
}

/* Home - Portada */

#contenedor{
    width:85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }

    .header{
        background:royalblue;
        text-align: left;
        color: white;
        padding: 16px;
        /* height: 60px; */
        margin-bottom: 10px;
        }
        .logo{
            text-transform: uppercase;
        }
    .navbar{
        background:rgb(8, 8, 82);
        text-align: right;
        text-transform: uppercase;
        padding: 10px;
        
    }
    .navbar ul{
        list-style-type: none;
        }
        .navbar ul li{
            /* float:left; */
            display: inline;
            }
            .navbar ul li a{
                color:white;
                text-decoration: none;
                padding: 10px;
            }
            /* pseudo-clase -> :*/
            .navbar ul li a:hover{
                /* color:blue; */
                /* background-color: white; */
                border: 2px solid white;
                border-radius: 8px;
            }
            .navbar ul li a:active{
                background-color: white;
                color:blue;
            }
            /* pseudo-elemento -> ::*/
            .navbar ul li a::before{
                content:"";
            }

            /* article:hover{
                background-color: tomato;
            } */


    /* a{
        color:white;
    } */

    /* Seccion Noticias */
    /* Modelo de caja -> width + padding + border
    Apunta a manejar los contenendores (cualquier caja - div, article, header, section, etc)
    width + padding + border = Ancho real
    70% + 30px + 6px 

    CSS3 -> box-sizing: border-box / content-box
    */

    .principal{
        background: rgb(93, 93, 93);
        padding: 15px;
        /* border:10px solid red; */
        width:68%; /* width es ancho del contenido*/
        float:left; /*flota a izq*/
     }
     .destacado{
         padding: 15px;
         background-color: white;
         margin-bottom: 10px;
     }
     .destacado img{
         width: 100%;
     }
     .destacado h2{
         text-align: center;
         transform: translateY(-60px);
         margin: 0;
         color:white;
         text-decoration:underline;
     }

     .simple{
         padding: 15px;
         background-color: white;
         width: 50%;
         float: left;
     }
     figure{
         margin:0;
     }
     /* Selector por anidaciones */
     .simple figure img{
         width:100%;
        
     }
     /* .destacado p{
         color:red
     } */



     /*Noticia Simple*/

     .breadcrumb{
         padding:10px;
         background-color: rgba(255, 255, 255, 0.466);
         border-radius: 5px;
         margin-bottom: 30px;
     }
     .noticia{
        background-color: rgba(255, 255, 255, 0.616);
        padding:10px;
     }
     .noticia figure img{
        width:100%
     }

     .banner{
         margin-top: 30px;
     }
     .banner img{
        width:100%
     }

     /* Fomulario Contacto */
     #formContacto{
         width: 60%;
         margin: 0 auto;
         padding:20px;
         background: rgba(255, 255, 255, 0.383);
         border-radius: 10px;
         color: blue;
     }
     #formContacto input{
         width:100%;
         padding: 10px;
        }
    #formContacto div{
         margin-bottom: 20px;
     }
     #formContacto select{
         width: 100%;padding: 10px;
     }
     #formContacto textarea{
         width: 100%;
         padding: 10px;
         font-family: inherit;
     }

     .iconos{
         width:10%;
     }
     /* Selector eliqueta[atributo="valor"] */
     #formContacto input[type="radio"],#formContacto input[type="checkbox"]{
         width:10%;
     }



    .sidebar{ /*<aside>*/
        width: 30%;
        background: rgb(195, 195, 195);
        height: 300px;
        float:right; /*flota a der*/
    }
    .footer{
        clear:both; /*para cortar con la incidencia de los float, debemos limpiar con clear*/
        background: rgb(44, 179, 224);
        text-align: center;
        color:white;
        padding: 15px;
    }

    .limpiar{
        clear:both;
    }