/*Selector universal*/
*{
    margin:0;
    padding:0;
}

/* Selectores de etiqueta */
body{
    background-color: tomato;
    color: white;
}
h1{
    text-align: center;
    color:cornflowerblue;
    margin:10px;
}
p{
    /* border:2px solid white; */
    margin-top:10px;
    margin-bottom:10px;
}

@keyframes anim1{
    0%{ opacity: 0; color:white; }
    100%{ opacity: 1; }
}
@keyframes animHeader1{
    0%{ transform: translateY(-100px); }
    100%{ transform: translateY(0); }
}

/* Selector de Clase */
.destacado{
    font-size:20px;
    border:none;
    animation-name: animHeader1;
    animation-duration: 2s;
}
.imagenHeader{
    width:100%;
    border-radius:20px;
}
.cajatitulo{
    background: rgba(255, 255, 255, 0.596);
    padding:10px;
    margin-top: 20px;
}
.ingredientes{
    background: rgb(26, 53, 128);
    padding:30px;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius:10px;
    color:rgb(209, 97, 23);
    }
    /*selector anidado o compuesto*/
    .ingredientes h3{
        text-align:right;
    }

.elaboracion{
    background:chocolate;
    padding:20px;
    margin-bottom:20px;
    border-radius: 10px ;
}
.pie{
    background: black;
    padding: 40px;
    text-align: center;

}
/*
Propiedades:
width -> ancho
height -> alto
margin -> espacio exterior al elemento
padding -> espacio interno, o relleno
border -> border

*/

/*Selector de ID*/
#general{
    width:90%;
    margin-left:5%;
    margin-right: 5%;
}
