body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	background: rgba(246, 127, 48, 0.863);	
}
#contenedor{
	width: 90%;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: space-evenly;
	}

	.header{
		background-color: rgba(255, 255, 255, 0.76);
		padding: 10px 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		}
		.logo{width:20%}
		.navbar{width: 40%}


		.banner{
			text-align: center;
			margin:20px 0;
		}

	.primero{
		background: rgb(207,0,15);
		width: 30%;
		padding: 1%;
		box-sizing: border-box;
	}
	.segundo{
		background: rgb(219, 99, 18);
		width: 30%;
		padding: 1%;
		box-sizing: border-box;
	}
	.tercero{
		background: rgb(38,166,91);
		width: 30%;
		padding: 1%;
		box-sizing: border-box;
	}
#contenedor img{width: 100%}

	.contenido{
		font-size: 18px;
		}
		.contenido h2{
			font-size:1.5em;
			margin: 0;
			margin-top: 20px;
		}
		.contenido p{
			font-size:1.2em;
			margin: 0;
		}

.footer{
	background: rgb(21, 25, 32);
	color:white;
	text-align: center;
	padding: 15px;
}



/* Media Queries */
/* 
Grandes -> 961px - 1200px
Medianos -> 561px - 960px
Pequeños -> 0px - 560px
*/

/* Grandes */
@media screen and (min-width:961px) and (max-width: 1200px){
	/* body{
		background-color: blueviolet;
		color:white;
	} */

	.primero,.segundo,.tercero{
		width:31%;
	}
} 

/* Medianos */
@media screen and (min-width: 561px) and (max-width: 960px){
	/* body{
		background-color: chartreuse;
	} */
	#contenedor{
		flex-wrap: wrap;
	}
	.primero{
		width:100%;
		margin-bottom: 25px;
		padding:2%;
		}
		.primero .imagen{
			height:35vh;
			overflow:hidden;
			}
			.primero .imagen img{
				transform: translateY(-50px);
			}
		.primero .contenido{
			display: flex;
			}
			.primero .contenido h2{
				width: 20%;
			}
			.primero .contenido p{
				
			}

	.segundo{
		width:50%;
		padding:2%;
	}
	.tercero{
		width:50%;
		padding:2%;
	}

	.header{
		flex-wrap: wrap;
	}
	.search{
		text-align: center;
		width:100%;
	}

	.banner{
		display:none;
	}
}

/* Pequeños */
@media (min-width:0px) and (max-width: 560px){
	
	#contenedor{
		/* flex-wrap: wrap; */
		flex-direction: column;
		width:100%;
	}
	.primero, .segundo, .tercero{
		width:100%;
		padding: 5%;
	}
	article:active{
		filter:sepia(1);
	}

	.header{
		flex-wrap: wrap;
	}
	.search{
		text-align: center;
		width:100%;
	}

	.banner{
		display:none;
	}
}

@media (max-width:380px) {
	.logo,.navbar, .search{
		width:100%
	}

}